.work{
    margin: 0 auto;
    width: 60%;
}

.work .file-list{
    font-size: 18px;
}

.work .file-list .list_dir{
    cursor:pointer;
}

.work .breadcrumb .path_dir{
    cursor:pointer;
    font-size: 18px;
}

.btn_group {
    width:1000px;
    height:45px;
    display:inline-block;
    margin-bottom:20px;
}
.button{
    width: 80px;
    height: 45px;
}

.btn-upload {
    z-index: 10;
    position:absolute;
    left: 20px;
    top: 20px;
}

.btn-upload_input{
    display:inline-block;
    z-index:11;
    opacity: 0;
}

.upload_relative{
    position:relative;
    height: 150px
}

.confirm_upload{

    position:absolute;
    left: 200px;
    top: 20px;
}

.upload_file_name{
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 16px;
}

.new_dir{
    height: 100px;
    padding: 10px 15px 0px 15px;
}

.confirm_new_dir{
    margin: 10px 100px;
}