{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}

{% block content %}
    <div class="add_group-list">
        <div class="add_group-info">
            <span class="input-group add_group-name">
              <span class="input-group-addon" id="basic-addon1">新组名</span>
              <input type="text" class="form-control" placeholder="新建组的名字" aria-describedby="basic-addon1">
            </span>
            <span class="input-group add_group-description">
              <span class="input-group-addon" id="basic-addon1">描述</span>
              <input type="text" class="form-control" placeholder="组描述内容" aria-describedby="basic-addon1">
            </span>
            <button class="btn btn-default add_group-confirm" type="button">新建</button>
        </div>
        <span>
            <button id="status" type="button" class="btn btn-primary hide" data-toggle="modal" data-target=".status"></button>
            <div class="modal fade status" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content show_status">
                    <p id="status_info"></p>
                </div>
              </div>
            </div>
        </span>
        <div >
            <ul class="nav nav-tabs" role="tablist">
                {% for sort_host in host_list.sort_host %}
                <li role="presentation"><a href="#{{ sort_host }}" aria-controls="{{ sort_host }}" role="tab" data-toggle="tab">{{ sort_host }}</a></li>
                {% endfor %}
            </ul>
              <!-- Tab panes -->
            <div class="tab-content">
                {% for sort_host,hosts in host_list.sort_host.items %}
                <div role="tabpanel" class="tab-pane " id="{{ sort_host }}">
                    <table class="table table-striped add_group-table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>主机名</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for host in hosts %}
                            <tr name="{{ host }}">
                                <td><input type="checkbox" value="{{ host }}"/> {{ forloop.counter }}</td>
                                <td>{{ host }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script language="JavaScript" src="/static/js/index.js"></script>
    <script>
    $('.add_group-confirm').click(function(){
        var add_group_name = $('.add_group-name').children('input').val()
        var add_group_description = $('.add_group-description').children('input').val()
        var add_group_table = []
        $('.add_group-table').find('input:checked').each(function(i){
            add_group_table[i] = $(this).val()
        })
        $.ajax({
            url:'add_group.html',
            type:'POST',
            data:{
                action:'add_group',
                group_name:add_group_name,
                group_table:JSON.stringify(add_group_table),
                group_description:add_group_description,
            },
            success:function(msg){
                console.log(msg)
                if ( msg == 'OK'){

                    window.location.href = '/group/'
                }else{
                    show_status(msg)
                }
            }

        })
    })
    </script>
{% endblock %}