{% extends "index.html" %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="file-work">
        <div class="file-btn_group">
            <span class="file-button">
                <button type="button" class="btn btn-primary file-button" data-toggle="modal" data-target=".upload_file">上传</button>
                <div class="modal fade upload_file" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content file-upload_relative" >
                        <input name="file" class="file-btn_upload file-button file-btn_upload_input" type="file"/>
                        <button class="btn btn-default file-btn_upload file-button" type="button">选择文件</button>
                        <button name="confirm_upload" class="btn btn-default file-button file-confirm_upload" type="button">确定</button>
                        <p class="file-upload_file_name"></p>
                    </div>
                  </div>
                </div>
            </span>
            <span class="file-button">
                <button class="btn btn-default file-button" data-toggle="modal" data-target=".new" type="button">新建</button>
                <div class="modal fade new" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content file-new_dir">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">名称</span>
                            <input type="text" class="form-control file-new_dir_input" placeholder="新建文件夹名称" aria-describedby="basic-addon1">
                        </div>
                        <input class="btn btn-default file-confirm_new_dir" action="new_dir" onclick="new_dir(this)" type="button" value="确定">
                    </div>
                  </div>
                </div>
            </span>
            <span>
                <button id="status" type="button" class="btn btn-primary hide" data-toggle="modal" data-target=".status"></button>
                <div class="modal fade status" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content show_status">
                        <p id="status_info"></p>
                    </div>
                  </div>
                </div>
            </span>
        </div>

        <div>
            <ol id="relpath" class="breadcrumb">
                <li><a class="file-path_dir" actions="show_file" onclick="change_path(this)"  file_name="">Home</a></li>
            </ol>
            <ul id="file_list" class="list-group file-list">
                {% for dir in file_list.dir %}
                    <li class="list-group-item"><input type="checkbox" ><a class="file-list_dir" actions="show_file" onclick="show_file(this)" file_name="{{ dir }}"> {{ dir }}</a></li>
                {% endfor %}
                {% for file in file_list.file %}
                    <li class="list-group-item"><input type="checkbox" > {{ file }}<a class="file-del_file" actions="del_file" onclick="show_file(this)" file_name="{{ file }}">删除</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}



{% block js %}
    <script language="JavaScript" src="/static/js/index.js"></script>
    <script>

//--------------------------------------------------------------模块---------------------------------------------
//上传文件函数模块
    function upload_file(file_path,file_obj){
        var file_data = new FormData()
        file_data.append('relpath', JSON.stringify(file_path))
        file_data.append('file_obj',file_obj)
        $.ajax({
            url: '/file/',
            type: 'POST',
            data: file_data,
            processData: false,
            contentType: false,
            success: function (msg) {
                var data = JSON.parse(msg)
                if ( data['status'] == 'OK' ){
                    window.location.href = '/file'
                }else{
                    show_status(data['status'])
                }

            }
        })
    }

//文件操作模块
    function file_operation(action,file_path){
        $.ajax({
            url: '/file/',
            type: 'POST',
            data: {action:action,
                path:JSON.stringify(file_path)},
            success: function (msg) {
                console.log(msg)
                var data = JSON.parse(msg)
                console.log(data)
                if ( data.hasOwnProperty('status')){
                    if ( data['status'] == 'OK' ){
                        window.location.href = '/file'
                    }else{
                        show_status(data['status'])
                    }
                }else if( data.hasOwnProperty('data')){
                    $('#file_list').empty()
                    $('#relpath').children().nextAll().remove()
                    data_show(data['data'])
                }
            }
        })
    }

//获取文件路径模块
    function get_path(){
        var file_path = []
        $('#relpath').find("a").each(function (i) {
            var path_dir = $(this).attr('file_name')
            file_path[i] = path_dir
        })
        return file_path
    }

//文件展示模块
    function data_show(data){
        for ( var dir in data['dir']){
            var dir_name = data['dir'][dir]
            var dir_lable = '<li class="list-group-item"><input type="checkbox" ><a class="file-list_dir" actions="show_file" onclick="show_file(this)" file_name="'+dir_name+'"> '+' '+ dir_name+'</a></li>'
            $('#file_list').append(dir_lable)
        }
        for ( var file in data['file']){
            var file_name = data['file'][file]
            var file_lable = '<li class="list-group-item"><input type="checkbox">'+' '+file_name+'<a class="file-del_file" actions="del_file" onclick="show_file(this)" file_name="'+file_name+'">删除</a></li>'
            $('#file_list').append(file_lable)
        }

        for ( var i in data['relpath'] ){
            var finally_dir =  data['relpath'][i]
            if ( finally_dir != '' ){
                var relpath_lable = '<li name="sub" ><a class="file-path_dir" actions="show_file" onclick="change_path(this)" file_name="'+finally_dir+'">'+finally_dir+'</a></li>'
                $('#relpath').append(relpath_lable)
            }
        }
    }

//-----------------------------------------事件-----------------------------------
//切换目录事件
    function show_file(current_click) {
        $this = $(current_click)
        var file_path = get_path()
        var file_name = $this.attr('file_name')
        var action = $this.attr('actions')
        file_path.push(file_name)
        console.log(file_path,file_path,action)
        file_operation(action, file_path)
    }


//切换路径事件
    function change_path(current_click){
        $this = $(current_click)
        var file_path = []
        var dir_name = $this.attr('file_name')
        var action = $this.attr('actions')
        $this.prevAll().each(function(i){
            file_path[i] = (this).attr('file_name')
        })
        file_path.push(dir_name)
        console.log(action,file_path)
        $this.parent().nextAll().remove()
        file_operation(action, file_path)
    }

//新建目录事件
    function new_dir(current_click){
        $this = $(current_click)
        var action = $this.attr('action')
        var dir_name = $('.file-new_dir_input').val()
        var file_path = get_path()
        file_path.push(dir_name)
        file_operation(action,file_path)
    }

//显示要上传的文件名
        $("input[name='file']").change(function(){
            var name = $(this).val()
            $('.file-upload_file_name').text(name.split('\\').pop())
        })

//上传文件事件
    $('.file-confirm_upload').click(function() {
        var file_obj = $('.file-btn_upload_input').get(0).files[0]
        var file_path = get_path()
        var return_location = $('.file-upload_file_name')
        upload_file(file_path,file_obj)
    })

    </script>
{% endblock %}